#type_pizza{
  width: 85%;
  box-shadow: none;
}
fieldset{
  box-shadow: 0px 5px 8px #8888889a;
  border: none;
  flex-wrap: wrap;
  margin: 75px auto 30px auto;
  width: 65%;
  display: flex;
  justify-content: space-around;
}
legend{
  font-size: 30px;
  margin-bottom: 20px;
}
.container{
  width: 250px;
  height: 330px;
  box-shadow: 0px 5px 8px #8888889a;
  border-radius: 20px;
  padding: 10px;
}
.container > p{
  width: 100%;
  text-align: center;
}
.container div{
  height: 40px;
  width: 100%;
  margin: 10px 0 0 0;
}
#type_pizza img{
  width: 100%;
  height: 200px;
  border-radius: 50px;
}
#type_pizza label{
  font-weight: bold;
  padding: 20px;
  margin: 0;
}
input{
  margin-top: 10px;
  transition: .4s;
}
#type_pizza label:hover{
  font-size: 27px;
  transition: .2s;
}
fieldset div{
  width: 150px;
  height: 40px;
  width: 40%;
  margin: 0 0 25px 0;
  text-align: center;
}
label{
  cursor: pointer;
  font-size: 25px;
}

label:hover{
  font-size: 26px;
  font-weight: bold;
  transition: .5s;
}
#qtty{
  height: 30px;
  margin-left: 10px;
  width: 50px;
  font-size: 25px;
}
.qtty{
  margin: 50px 0 0 0;
  display: flex;
  justify-content: center;
}
.qtty label{
  margin-top: 10px;
}
.column{
  flex-direction: column;
  padding-bottom: 30px;
}
.column input{
  height: 50px;
  font-size: 20px;
  padding-left: 10px;
  border: 1px solid rgb(212, 208, 208);
}

#confirm:hover, #submit:hover{
  transform: scale(.9);
}
form{
  display: flex;
  flex-direction: column;
  margin-bottom: 80px;
}
.column div{
  height: auto;
  width: 85%;
  margin: 15px auto;
}

.line{
  border: 1px solid rgba(173, 173, 173, 0.411);
  display: flex;
  flex-direction: row;
  width: 100%;
}
.line p{
  width: 50%;
  font-size: 20px;
}
#confirm, #submit{
  background-color: rgb(230, 81, 81);
  background-color: rgb(170, 214, 10);
}
#confirm, #submit{
  width: 50%;
  margin: 10px auto 0px auto;
  height: 70px;
  border: none;
  font-size: 28px;
  cursor: pointer;
  transition: .4s;
  z-index: 9999;
}
#confirm a{
  display: flex;
  margin: auto;
  padding: 20px 39%;
  font-family: Arial, Helvetica, sans-serif;
  color: black;
  text-decoration: none;;
}
#cancel_form{
  display: flex;
  background-color: rgb(230, 81, 81);
  width: 50%;
  text-align: center;
  margin: 0 auto 50px auto;
}
#cancel_form a{
  display: flex;
  color: #ffff;
  margin: 0 auto 0px auto;
  padding: 20px 36.5%;
  text-decoration: none;
  font-size: 30px;
  font-family:Arial, Helvetica, sans-serif;
}
#success{
  display: flex;
  flex-direction: column;
  width: 50%;
  height: 800px;
  margin: 0 auto;
}
#success p, #success h3, #success h1{
  text-align: center;
}
#success p{
  font-size: 25px;
}
#success h3{
  font-size: 30px;
}
#success h1{
  font-size: 35px;
}
#success img{
  margin-top: 15px;
  animation-name: moving;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-fill-mode: both;
  animation-direction: alternate;
}
@keyframes moving{
  from{
      transform: rotateX(-40deg)rotateY(-7deg)rotateZ(5deg)scale(.8);
  }
  to{
      transform: rotateX(40deg)rotateY(7deg)rotateZ(-17deg)scale(1.3);

  }
}
#error_display{
  background-color: rgba(196, 56, 56, 0.5);
  width: 100%;
  display: flex;
  flex-direction: column;
}
#error_display p{
  margin: 10px auto;
  font-size: 18px;
  text-align: center;
  font-weight: bold;
  width: 65%;
}